*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
 
  background-color: rgb(161, 152, 152);
  font-weight: 300;
}

#container {
  width: 600px;
  margin: 0 auto ;
}


h1 {
  text-align: center;

  font-size: 2rem;
  margin: 0.5rem;
}
h3,
p {
  font-size: 1.4rem;
  margin: 1rem;
}

.bb {
  margin: 1rem;
}
section {
  margin-top: 3rem;
}

#search {
  margin-left: 10rem;
}
label {
  display: inline-block;
  font-size: 1.2rem;
  width: 10rem;
}

input {
  width: 13rem;
  height: 2rem;
  padding: 0.2rem;
 border: none;
  border-radius: 5px;
}

#btn_div{
  text-align: left;
}
#button {
  width: 8rem;
  height: 40px;
  text-align: center;
  margin-left: 220px;
  border-radius: 5px;
  background-color: orange;
  border: none;
}
.button {
  width: 8rem;
  height: 40px;
  text-align: center;
  margin-left: 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
}